HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/src/main/resources/static/CSS/
/src/main/resources/static/fullcalendar/
/.mvn/
/src/main/resources/static/JS/bootstrap.min.js
/src/main/resources/static/JS/jquery-3.4.1.js
/src/main/resources/static/JS/moment.min.js
/src/main/resources/static/JS/tooltip.min.js
/src/main/resources/static/JS/popper.min.js
